---
import coments from '../components/coments.astro';
---
</coments>

<html>
  <head>
    <title>Comentarios con Astro y Supabase</title>
  </head>
  <body>
    <h1>Mi página con comentarios</h1>
    
  </body>
</html>
